<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width:600px;Margin:0 auto">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
          >
            <tbody>
              <tr>
                <td>
                  <table style="margin-bottom:40px;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <a
                            href="http://8link.in/?ref=mail"
                            style="font-family:Helvetica,Arial,sans-serif;color:#0086bf"
                            target="_blank"
                          >
                            <img
                              src="https://cdn3.f-cdn.com/contestentries/1484825/33424121/5ca0940377bf4_thumb900.jpg"
                              style="display:block"
                              alt="8link"
                              width="200"
                              height="65"
                            />
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align:justify;word-break:break-word">
                  <table style="margin-bottom:20px;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table
                            style="width:100%;margin-bottom:20px"
                            width="100%"
                            cellpadding="0"
                            cellspacing="0"
                          >
                            <tbody>
                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">Hi <%=loginUser %>, </strong>
                                  
                                  <h1
                                    style="font-size:26px;line-height:30px;color:#054752;word-break:normal"
                                  >
                                  Welcome to Delicious family!    Account acctivated Login to your Account
                                  </h1>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <center>
                            <table
                              style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                              align="center"
                              width=""
                              cellspacing="0"
                              cellpadding="0"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="background-color:#00aff5;color:#fff;text-align:center;border-radius:48px;padding:16px 24px;border-color:transparent;font-weight:bold;font-size:16px;line-height:1"
                                  >
                                    <a style="color: white; text-decoration: none;" href= <%= login  %>> Login to your account</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </center>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
             

            
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
